.container
    {
        box-sizing: border-box;
        display: flex;
        max-width: 500px;  
        background-color: rgb(43, 43, 43);
        color: white;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 40px 40px;
    }

.five
    {
        font-size: 24px;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.seven
    {
        border-radius: 100px;
        transition: all 0.4s ease;    
    }

.six
    {
        font-size: 18px;
        color: rgb(226, 250, 172);
    }

.nine
    {
        border-radius: 15px;
        border: 2px solid rgba(73, 73, 73, 0.8);
        padding: 20px 30px 20px 30px;
        text-align: center;
        background-color:  rgba(73, 73, 73, 0.8);
        cursor: pointer;
        transition: all 0.4s ease;
    }

.two
    {
        display: flex;
        flex-direction: column;
         align-items: center;
        justify-content: center;
    }

.max-container
    {
        background-color: rgb(29, 29, 29);
        height: 900px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }


#style1:hover
    {
        transition: all 0.4s ease;
        transform: translateY(-7px);
        box-shadow: 0 10px 10px rgb(172, 245, 250,0.8)
    }

#style2:hover
    {
        transition: all 0.4s ease;
        transform: translateX(7px);
        box-shadow: 0 10px 10px rgba(255, 199, 77, 0.8)
        
    }

#style3:hover
    {
        transition: all 0.4s ease;
        transform: translateX(-7px);
        box-shadow: 0 10px 10px rgba(255, 123, 226, 0.8)
        
    }

#style4:hover
    {
        transition: all 0.4s ease;
        transform: translateY(-7px);
        box-shadow: 0 10px 10px rgb(255, 178, 155)
        
    }

#style5:hover
    {
        transition: all 0.4s ease;
        transform: translateY(7px);
        box-shadow: 0 10px 10px rgba(144, 104, 255, 0.8)
    }

.seven:hover
    {
        transition: all 0.4s ease;
        transform: rotate(360deg) translateY(-8px) scale(1.2);
        box-shadow: 0px 10px 10px rgba(116, 109, 109, 0.8);
    }

.ten
    {
        font-size: 20px;
    }

.nine:hover
    {
        color: lightblue;
        background-color: rgba(116, 109, 109, 0.8);
    }

.six:hover,.ten:hover,.five:hover
    {
        transform: scale(1.1);
        text-shadow: 0px 10px 10px rgba(116, 109, 109, 0.8);
    }